<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <title>SAMLDM.FR</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/bulma.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" defer></script>
</head>
<body>
  <div class="navbar is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-item">
        SAMLDM.FR
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Accueil
        </a>
        <a href="/" class="navbar-item">
          Articles
        </a>
        <a href="/" class="navbar-item">
          CV
        </a>
      </div>
    </div>
  </div>